<mat-list *ngIf="devices.length !== 0">
  <mat-list-item *ngFor="let device of devices">
    <mat-icon mat-list-icon>devices</mat-icon>
    <h4 matLine> {{device.vendor}} </h4>
    <p matLine> {{device.dateCreated | date}} </p>
    <p matLine> {{device.status}} </p>
    <mat-slide-toggle [checked]="device.status === 'ONLINE'" (change)="notifyItemChangeStatus($event, device)"></mat-slide-toggle>
    <mat-menu #deviceMenu="matMenu">
      <button mat-menu-item (click)="notifyItemEdit(device)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="notifyItemDelete(device)">
        <mat-icon>delete</mat-icon>
        Remove
      </button>
    </mat-menu>
    <button mat-icon-button class="ms-list-item-action" [matMenuTriggerFor]="deviceMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
