@import "../../../../../styles/ms-mixins";

:host {
  padding: 20px 100px;

  @include display-flex-column;
  @include place-content-start-stretch;
}

.ms-loading-indicator {

  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -30px;
  }
}
