<h3 *ngIf="gateways.length !== 0 && !isLoading">Gateways</h3>

<div class="ms-loading-indicator" *ngIf="isLoading">
  <img src="/assets/icons/searching.png" alt="">
  <mat-spinner strokeWidth="4" diameter="130"></mat-spinner>
  <h5>Loading gateways...</h5>
</div>

<div class="ms-empty-list" *ngIf="gateways.length === 0 && !isLoading">
  <img src="/assets/icons/empty-list.png" alt="">
  <h3>Empty Gateway List</h3>
  <button mat-flat-button color="primary" (click)="addNew()">Add New Gateway</button>
</div>

<mat-nav-list *ngIf="gateways.length !== 0 && !isLoading">
  <mat-list-item *ngFor="let gateway of gateways" [routerLink]="['/gateways/', gateway.id]">
    <mat-icon mat-list-icon>developer_board</mat-icon>
    <h4 matLine> {{gateway.name}} </h4>
    <p matLine> {{gateway.ipAddress}} </p>
  </mat-list-item>
</mat-nav-list>

<button mat-fab color="primary"
        class="ms-float-right-bottom"
        matTooltip="Add new gateway"
        matTooltipPosition="above"
        (click)="addNew()">
  <mat-icon>add</mat-icon>
</button>
