<h1 mat-dialog-title>Remove Device</h1>
<div mat-dialog-content fxFlex="1 0 0" fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/icons/delete-confirmation.png" alt="">
  <p>Are you sure you want to remove the device from the gateway?</p>
</div>
<div mat-dialog-actions>
  <span fxFlex="1 0 0"></span>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="ok()">Remove</button>
</div>
