<h1 class="ms-gateway-title">{{gateway.name}}</h1>
<h2 class="ms-gateway-subtitle">ip: {{gateway.ipAddress}}</h2>

<h3 *ngIf="gateway.devices.length > 0">Devices ({{gateway.devices.length}})</h3>
<ms-device-list [devices]="gateway.devices"
                *ngIf="gateway.devices.length > 0"
                (deleteDevice)="deleteDevice($event)"
                (statusChanged)="updateDeviceStatus($event)"
                (editDevice)="editDevice($event)">

</ms-device-list>

<div class="ms-empty-list" *ngIf="gateway.devices.length === 0">
  <img src="/assets/icons/empty-device-list.png" alt="">
  <h3>No devices</h3>
  <button mat-flat-button color="accent" (click)="addNewDevice()">Add New Device</button>
</div>

<button mat-fab color="accent"
        class="ms-float-right-bottom"
        matTooltip="Add new device"
        matTooltipPosition="above"
        *ngIf="gateway.devices.length > 0"
        (click)="addNewDevice()">
  <mat-icon>add</mat-icon>
</button>
