@import "../../../../../styles/ms-mixins";

:host {
  padding: 20px 22% 130px;
  overflow: hidden;

  @include display-flex-column;
  @include place-content-start-stretch;
}

.ms-gateway-subtitle {
  margin: 0;
}

.ms-gateway-title {
  margin-bottom: 0;
}
