<h1 mat-dialog-title>Gateway Full!</h1>
<div mat-dialog-content fxFlex="1 0 0" fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/icons/gateway-full.png" alt="">
  <p>The gateway has reached its maximum capacity of devices.</p>
</div>
<div mat-dialog-actions>
  <span fxFlex="1 0 0"></span>
  <button mat-button (click)="close()">Close</button>
</div>
