<h1 mat-dialog-title>Add new device</h1>
<div mat-dialog-content [formGroup]="device" fxFlex="1 0 0" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Vendor" formControlName="vendor">
    <mat-hint>The name of the gateway</mat-hint>
    <mat-error *ngIf="vendor.invalid">The vendor is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statusItems" [value]="status.value">
        {{status.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span fxFlex="1 0 0"></span>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="save()">Ok</button>
</div>
