<h1 mat-dialog-title>Hi, ready to add a new gateway?</h1>
<div mat-dialog-content [formGroup]="gateway" fxFlex="1 0 0" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-hint>The name of the gateway</mat-hint>
    <mat-error *ngIf="name.hasError('required')">The name is <strong>required</strong></mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="IP address" formControlName="ipAddress">
    <mat-hint>A valid IP v4 address!</mat-hint>
    <mat-error *ngIf="ipAddress.hasError('required')">The address is <strong>required</strong></mat-error>
    <mat-error *ngIf="ipAddress.hasError('pattern')">The address is an <strong>invalid IPv4</strong></mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span fxFlex="1 0 0"></span>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="save()">Ok</button>
</div>
